<section class="flex min-h-screen">
    <main class="w-96 bg-green-700 p-7 space-y-5 hidden md:block">
        <header>
            <nav class="p-3">
                <div class="flex gap-2 items-center">
                    <img src="../../../assets/icon.png" alt="EvGlob" class="object-cover w-8 h-8" />
                    <h4 style="font-family: 'montserrat regular';" class="text-xl text-white font-normal uppercase">
                        EvGlob
                    </h4>
                </div>
            </nav>
        </header>

        <div class="p-3 my7 space-y-6">

            <h1 style="font-family: 'montserrat regular';" class="text-2xl  text-white font-semibold">
                The best Ev Charging Station over all ther World !
            </h1>

            <p class="text-white text-sm" style="font-family: 'inter';">
                By choosing our EV Charging Station, you're not just charging your vehicle &ndash; you're making a
                conscious
                choice to be part
                of the green revolution. Every charge contributes to a healthier environment, reduced dependence on
                fossil fuels, and a
                more sustainable future for generations to come.
            </p>
        </div>

        <div>
            <img src="../../../assets/evadminlogin.png" alt="EvGlob">
        </div>
    </main>


    <main class="flex-auto bg-slate-900 space-y-7 p-2">
        <div class="flex flex-col gap-3 items-center justify-center p-5">
            <img src="../../../assets/icon.png" alt="EvGlob" class="object-cover w-10 h-10" />
            <h4 style="font-family: 'montserrat regular';" class="text-3xl font-black text-green-500">
                Sign Up
            </h4>
        </div>

        <section class="flex flex-col items-center justify-center">
            <form class="space-y-4">
                <div class="email">
                    <div class="relative mt-1">
                        <input type="email" id="emailInp"
                            class="text-black p-4 w-80 h-10 rounded pl-10 text-sm focus:outline-none border border-green-400 focus:border-green-400 focus:border-2"
                            placeholder="email address" name="email" required [(ngModel)]="email">

                        <svg class="w-4 h-4 absolute top-0 m-3 text-gray-300" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M14.243 5.757a6 6 0 10-.986 9.284 1 1 0 111.087 1.678A8 8 0 1118 10a3 3 0 01-4.8 2.401A4 4 0 1114 10a1 1 0 102 0c0-1.537-.586-3.07-1.757-4.243zM12 10a2 2 0 10-4 0 2 2 0 004 0z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </div>
                </div>

                <div class="password">
                    <div class="relative mt-1 mb-2">
                        <input type="password" id="passwordInp"
                            class="text-black p-4 w-80 h-10 rounded pl-10 text-sm focus:outline-none border border-green-400 focus:border-green-400 focus:border-2 font-light"
                            placeholder="password" required [(ngModel)]="password" name="password">
                        <svg class=" w-4 h-4 absolute top-0 m-3 text-gray-300" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M18 8a6 6 0 01-7.743 5.743L10 14l-1 1-1 1H6v2H2v-4l4.257-4.257A6 6 0 1118 8zm-6-4a1 1 0 100 2 2 2 0 012 2 1 1 0 102 0 4 4 0 00-4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </div>
                </div>

                <div class="cpassword">
                    <div class="relative mt-1 mb-2">
                        <input type="password" id="cpassword"
                            class="text-black p-4 w-80 h-10 rounded pl-10 text-sm focus:outline-none border border-green-400 focus:border-green-400 focus:border-2 font-light"
                            placeholder="cpassword" required [(ngModel)]="cpassword" name="cpassword">
                        <svg class=" w-4 h-4 absolute top-0 m-3 text-gray-300" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M18 8a6 6 0 01-7.743 5.743L10 14l-1 1-1 1H6v2H2v-4l4.257-4.257A6 6 0 1118 8zm-6-4a1 1 0 100 2 2 2 0 012 2 1 1 0 102 0 4 4 0 00-4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </div>
                </div>



                <button (click)="evregister()"
                    class="focus:outline-none bg-green-600  w-80 h-9 text-white rounded">Register</button>
            </form>
        </section>

        <section class="flex flex-col items-center justify-center space-y-4">
            <div class="sign_up_link space-x-1">
                <span class="text-sm font-light text-gray-200">Don't have an account?</span> <a
                    class="text-green-500 hover:text-green-600 text-sm font-light hover:underline"
                    routerLink="/login/evadmin">Sign
                    in</a>
            </div>
        </section>

    </main>
</section>