<main>
    <div class="evcardgrid">
        <div *ngFor="let station of visiblestation; let i = index" class="event-card ">

            <a routerLink="evstation/{{station?.userid}}">
                <img [src]="getProfileImageUrl(station?.imageUrl)" alt="{{ station?.title }}"
                    class="object-cover object-center h-40 w-full" />
                <h2 class="evtitle">{{ station?.title }}</h2>
                <p class="evdescription">{{ station?.description?.substring(0,100) }}</p>


                <div class="ev-content">
                    <div class="ev-content-center gap-2">
                        <div>
                            <p class="text-gray-700 mb-1 dark:text-gray-800">{{ station?.location?.city
                                }},{{station?.location?.state}}</p>
                        </div>

                        <div class="flex gap-2 items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="#FACC15" viewBox="-96 0 512 512"
                                class="w-6 h-6 text-yellow-400">
                                <path
                                    d="M308 96c6.627 0 12-5.373 12-12V44c0-6.627-5.373-12-12-12H12C5.373 32 0 37.373 0 44v44.748c0 6.627 5.373 12 12 12h85.28c27.308 0 48.261 9.958 60.97 27.252H12c-6.627 0-12 5.373-12 12v40c0 6.627 5.373 12 12 12h158.757c-6.217 36.086-32.961 58.632-74.757 58.632H12c-6.627 0-12 5.373-12 12v53.012c0 3.349 1.4 6.546 3.861 8.818l165.052 152.356a12.001 12.001 0 0 0 8.139 3.182h82.562c10.924 0 16.166-13.408 8.139-20.818L116.871 319.906c76.499-2.34 131.144-53.395 138.318-127.906H308c6.627 0 12-5.373 12-12v-40c0-6.627-5.373-12-12-12h-58.69c-3.486-11.541-8.28-22.246-14.252-32H308z" />
                            </svg>
                            <p class="text-gray-700  dark:text-gray-800 text-lg font-medium">{{ station?.rate}} /per
                                hour
                            </p>
                        </div>
                    </div>
                </div>

                <div class="ev-content">

                    <div>
                        <button
                            class="bg-green-700 dark:bg-white dark:text-gray-900 text-white shadow rounded-md px-3 py-1 border">Details</button>
                    </div>
                    <div class="flex gap-2 items-center text-[20px]">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            class="w-6 h-6 text-orange-500" version="1.1" id="Capa_1" viewBox="0 0 47.94 47.94"
                            xml:space="preserve">
                            <path style="fill:#ff9100;"
                                d="M26.285,2.486l5.407,10.956c0.376,0.762,1.103,1.29,1.944,1.412l12.091,1.757  c2.118,0.308,2.963,2.91,1.431,4.403l-8.749,8.528c-0.608,0.593-0.886,1.448-0.742,2.285l2.065,12.042  c0.362,2.109-1.852,3.717-3.746,2.722l-10.814-5.685c-0.752-0.395-1.651-0.395-2.403,0l-10.814,5.685  c-1.894,0.996-4.108-0.613-3.746-2.722l2.065-12.042c0.144-0.837-0.134-1.692-0.742-2.285l-8.749-8.528  c-1.532-1.494-0.687-4.096,1.431-4.403l12.091-1.757c0.841-0.122,1.568-0.65,1.944-1.412l5.407-10.956  C22.602,0.567,25.338,0.567,26.285,2.486z" />
                        </svg>
                        <p
                            *ngIf="station?.averageRating?.averageRating !==null && station?.averageRating?.averageRating !==undefined">
                            {{station.averageRating.averageRating}} /5</p>
                        <p
                            *ngIf="station?.averageRating?.averageRating ==null && station?.averageRating?.averageRating ==undefined">
                            0/5</p>
                    </div>

                </div>

            </a>


        </div>
    </div>






    <div class="pagination-container">
        <button (click)="prevPage()" [disabled]="currentPage === 1" class="page-button"
            [ngClass]="{'disabled opacity-0': currentPage===1}">
            Previous
        </button>
        <span class="page-button-title">Page {{ currentPage }} of {{ totalPages() }}</span>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages()" class="page-button">
            Next
        </button>
    </div>


</main>