<nav class="nav-desktop">
    <a class="nav-desktop-logo" href="#">
        <div class="flex items-center gap-2">
            <img src="../../../assets/logo.png" class="h-10" alt="logo" />
            <span class="dark:text-white text-green-500 text-xl">Green Hub Drive</span>
        </div>
    </a>
    <!-- Mobile Menu Toggle Action -->
    <div class="mobile-menu">
        <!-- Dark Mode Toggling -->
        <button (click)="darkMode.set(!darkMode())" class="lg:hidden">
            <!-- Moon Svg -->
            <span *ngIf="!darkMode()"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z" />
                </svg></span>

            <!-- Sun Svg -->
            <span *ngIf="darkMode()"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="currentColor" class="w-6 h-6 dark:text-yellow-500">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" />
                </svg></span>

        </button>

        <button class="hamburger-mobile-menu" (click)="toggleNav()">
            <svg class="block h-4 w-4 fill-current dark:text-green-600" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <title>Mobile menu</title>
                <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
            </svg>
        </button>


    </div>
    <ul class="desktop-menu">
        <li><a class="desktop-li" routerLink="/">Home</a></li>
        <li class="text-gray-300">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill"
                viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
            </svg>
        </li>
        <li><a class="desktop-li" routerLink="/about">About Us</a></li>
        <li class="text-gray-300">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill"
                viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
            </svg>
        </li>

        <li><a class="desktop-li" routerLink="/contact">Contact</a></li>
    </ul>


    <a *ngIf="!session" class="signin-btn-desktop" routerLink="/login/user">Sign In</a>
    <a *ngIf="!session" class="signup-btn-desktop" routerLink="/register/user">Sign up</a>


    <a *ngIf="session" class="signup-btn-desktop ml-203" routerLink="/user">Dashboard</a>
    <div class="relative  text-left lg:inline-block xl:inline-block hidden ml-3" *ngIf="!session">
        <div>
            <button type="button" (click)="toggleMenuOption()"
                class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
                id="menu-button" aria-expanded="true" aria-haspopup="true">
                Options
                <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd"
                        d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                        clip-rule="evenodd" />
                </svg>
            </button>
        </div>

        <!--
        Dropdown menu, show/hide based on menu state.
    
        Entering: "transition ease-out duration-100"
          From: "transform opacity-0 scale-95"
          To: "transform opacity-100 scale-100"
        Leaving: "transition ease-in duration-75"
          From: "transform opacity-100 scale-100"
          To: "transform opacity-0 scale-95"
      -->
        <div *ngIf="isOpenMenu"
            class="absolute   right-0 z-10 mt-2 w-56 origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
            role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
            <div class="py-1" role="none">
                <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                <a routerLink="/register/evadmin" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem"
                    tabindex="-1" id="menu-item-0">Ev Register</a>
                <a routerLink="/login/evadmin" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem"
                    tabindex="-1" id="menu-item-1">Ev Login</a>
            </div>
            <div class="py-1" role="none">
                <a routerLink="/login/admin" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1"
                    id="menu-item-2">Admin Login</a>
            </div>
        </div>
    </div>



    <button class=" hidden lg:inline-block lg:ml-3" (click)="darkMode.set(!darkMode())">
        <!-- Moon Svg -->
        <span *ngIf="!darkMode()"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z" />
            </svg></span>

        <!-- Sun Svg -->
        <span *ngIf="darkMode()"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke-width="1.5" stroke="currentColor" class="w-6 h-6 dark:text-yellow-500">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" />
            </svg></span>


    </button>
</nav>

<!-- Slid Navigation for mobile device -->
<div class="navbar-menu relative z-50" *ngIf="isMobileDevice && isNavbarOpen">
    <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
    <nav class="mobile-nav">
        <div class="flex items-center mb-8 gap-2">
            <a class="mr-auto text-xl font-bold leading-none" href="#">
                <div class="flex items-center">
                    <img src="../../../assets/logo.png" class="h-10" alt="logo" />
                    <span class="dark:text-white text-green-500">Green Hub Drive</span>
                </div>
            </a>
            <button class="navbar-close" (click)="toggleClose()">
                <svg class="h-6 w-6 text-gray-400 cursor-pointer hover:text-gray-500" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12">
                    </path>
                </svg>
            </button>
        </div>
        <div>
            <ul>
                <li class="mb-1">
                    <a class="nav-li-item" routerLink="/">Home</a>
                </li>
                <li class="mb-1">
                    <a class="nav-li-item" routerLink="/about" routerLinkActive="router-link-active">About Us</a>
                </li>
                <li class="mb-1">
                    <a class="nav-li-item" routerLink="/contact">Contact</a>
                </li>
            </ul>
        </div>

        <div class="relative  text-left inline-block" *ngIf="!session">
            <div>
                <button type="button" (click)="toggleMenuOption()"
                    class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
                    id="menu-button" aria-expanded="true" aria-haspopup="true">
                    Options
                    <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd"
                            d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                            clip-rule="evenodd" />
                    </svg>
                </button>
            </div>

            <!--
                    Dropdown menu, show/hide based on menu state.
                
                    Entering: "transition ease-out duration-100"
                      From: "transform opacity-0 scale-95"
                      To: "transform opacity-100 scale-100"
                    Leaving: "transition ease-in duration-75"
                      From: "transform opacity-100 scale-100"
                      To: "transform opacity-0 scale-95"
                  -->
            <div *ngIf="isOpenMenu"
                class="absolute   right-0 z-10 mt-2 w-56 origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                <div class="py-1" role="none">
                    <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                    <a routerLink="/register/evadmin" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem"
                        tabindex="-1" id="menu-item-0">Ev Register</a>
                    <a routerLink="/login/evadmin" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem"
                        tabindex="-1" id="menu-item-1">Ev Login</a>
                </div>
                <div class="py-1" role="none">
                    <a routerLink="/login/admin" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem"
                        tabindex="-1" id="menu-item-2">Admin Login</a>
                </div>
            </div>
        </div>

        <div class="mt-auto">
            <div class="pt-6" *ngIf="!session">
                <a class="sign-in-btn" routerLink="/login/user">Sign in</a>
                <a class="sign-up-btn" routerLink="/register/user">Sign Up</a>
            </div>
            <div class="pt-6" *ngIf="session">
                <a class="sign-in-btn" routerLink="/user">Dashboard</a>
            </div>
            <p class="my-4 text-xs text-center text-gray-400">
                <span>Copyright © 2021</span>
            </p>
        </div>
    </nav>
</div>