<main class="evfeature">
    <!-- Title For Mobile Device -->
    <div class="ev-title-small">
        <h1 class="evtitle">Our Features</h1>
        <p class="text-gray-700 dark:text-gray-200">Your middle feature description goes here.</p>
    </div>

    <!-- Our Features in the Middle -->
    <div class="evfeature-main">
        <h1 class="evtitle">Our Features</h1>
        <p class="text-gray-700 dark:text-gray-200">Your middle feature description goes here.</p>
    </div>

    <!-- Container Div -->
    <div class="ev-container">

        <!-- Top Left Box with Border and Title -->
        <div class="ev-top-left">
            <div class="flex items-center flex-col">
                <div>
                    <img src="../../../assets/accarcharge.png" alt="Ac Charger" class="w-24 h-24" />
                </div>
                <h3 class="text-xl font-bold text-blue-500">AC Charger</h3>
                <p class="ev-text">Lorem Ipsum is simply dummy text of the printing and of the printing and typesetting
                    industry.</p>
            </div>


        </div>

        <!-- Top Right Box with Border and Title -->
        <div class="ev-top-right">
            <div class="flex items-center flex-col">
                <div>
                    <img src="../../../assets/dccarcharge.png" alt="dc Charger" class="w-24 h-24" />
                </div>
                <h3 class="text-xl font-bold text-blue-500">DC Charger</h3>
                <p class="ev-text">Lorem Ipsum is simply dummy text of the printing and of the printing and typesetting
                    industry.</p>
            </div>
        </div>

        <!-- Bottom Left Box with Border and Title -->
        <div class="ev-bottom-left">
            <div class="flex items-center flex-col">
                <div>
                    <img src="../../../assets/fastcahrge.png" alt="Fast Charger" class="w-24 h-24" />
                </div>
                <h3 class="text-xl font-bold text-blue-500">Fast Charger</h3>
                <p class="ev-text">Lorem Ipsum is simply dummy text of the printing and of the printing and typesetting
                    industry.</p>
            </div>
        </div>

        <!-- Bottom Right Box with Border and Title -->
        <div class="ev-bottom-right">
            <div class="flex items-center flex-col">
                <div>
                    <img src="../../../assets/evstation.png" alt="Charge Point" class="w-24 h-24" />
                </div>
                <h3 class="text-xl font-bold text-blue-500">Charge Point</h3>
                <p class="ev-text">Lorem Ipsum is simply dummy text of the printing and of the printing and typesetting
                    industry.</p>
            </div>
        </div>

    </div>
</main>