<main className='overflow-hidden'>
    <div class="hero px-3">
        <div class="hero-container"> <!-- Center items -->
            <h1 class="hero__title">
                Welcome to Our EV Charging Station
            </h1>

            <p class="hero__subtitle">
                At our EV Charging Station, we're dedicated to ushering in a new era of sustainable and eco-friendly
                transportation. Our
                mission is to provide electric vehicle owners with a seamless and efficient charging experience, all
                while contributing
                to a cleaner and greener planet.
            </p>
        </div>

        <div class="hero__image-container">
            <!-- Center and hide overflow -->
            <div class="hero__image ">
                <img src="../../../assets/carev.png" alt="hero" fill class="object-contain w-full h-full" />
            </div>

            <div class="hero__image-overlay invert-green">
            </div>
        </div>
    </div>
</main>
<app-searchevform></app-searchevform>