<h2 class="text-title-md2 font-bold py-6 text-black dark:text-white">
    Settings
</h2>

<div class="flex justify-center items-center"><svg *ngIf="!evAdminProfile" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" style="margin:auto;display:block;" width="100px" height="100px"
        viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
        <path d="M10 50A40 40 0 0 0 90 50A40 42 0 0 1 10 50" fill="#36e30c" stroke="none">
            <animateTransform attributeName="transform" type="rotate" dur="1s" repeatCount="indefinite" keyTimes="0;1"
                values="0 50 51;360 50 51"></animateTransform>
        </path>
    </svg></div>

<div *ngIf="evAdminProfile" class="grid grid-cols-1 gap-9 sm:grid-cols-2">
    <div class=" flex flex-col gap-9 mb-3">
        <!-- Personal Information -->
        <div class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
            <div class="border-b border-stroke py-4 px-6.5 dark:border-strokedark">
                <h3 class="font-medium text-black dark:text-white">
                    Personal Information
                </h3>
            </div>
            <form>
                <div class="flex flex-col gap-5.5 p-6.5">
                    <!-- For First Name and Last Name  -->
                    <div class="mt-5 grid md:grid-cols-2 md:gap-6">
                        <div>
                            <label class="mb-3 block font-medium text-sm text-black dark:text-white">
                                First Name
                            </label>
                            <input type="text" [(ngModel)]="evAdminProfile.profile.firstname" name="firstname"
                                id="firstname"
                                class="w-full shadow-1 rounded-lg border-[1.5px]  bg-white py-3 px-5 font-medium outline-none transition focus:border-blue-600 active:border-blue-800 disabled:cursor-default">
                        </div>

                        <div>
                            <label class="mb-3 block font-medium text-sm text-black dark:text-white">
                                Last Name
                            </label>
                            <input type="text" [(ngModel)]="evAdminProfile.profile.lastname" name="lastname"
                                id="lastname"
                                class="w-full shadow-1 rounded-lg border-[1.5px]  bg-white py-3 px-5 font-medium outline-none transition focus:border-blue-600 active:border-blue-800 disabled:cursor-default">
                        </div>

                    </div>

                    <!-- For Email and Mobile -->
                    <div class="mt-5 grid md:grid-cols-2 md:gap-6">
                        <div>
                            <label class="mb-3 block font-medium text-sm text-black dark:text-white">
                                Email
                            </label>
                            <input disabled type="email" [(ngModel)]="evAdminProfile.profile.email" name="email"
                                id="email"
                                class="w-full shadow-1 rounded-lg border-[1.5px]  bg-white py-3 px-5 font-medium outline-none transition focus:border-blue-600 active:border-blue-800 disabled:cursor-default">
                        </div>

                        <div>
                            <label class="mb-3 block font-medium text-sm text-black dark:text-white">
                                Mobile No
                            </label>
                            <input type="text" [(ngModel)]="evAdminProfile.profile.mobile" name="mobile" id="mobile"
                                class="w-full shadow-1 rounded-lg border-[1.5px]  bg-white py-3 px-5 font-medium outline-none transition focus:border-blue-600 active:border-blue-800 disabled:cursor-default">
                        </div>
                    </div>

                    <!-- For DOB/Date of Joining / userid -->
                    <div class="mt-5 grid gap-2 grid-cols-3 md:gap-6">
                        <div>
                            <label class="mb-3 block font-medium text-sm text-black dark:text-white">
                                DOB
                            </label>
                            <input type="text" [(ngModel)]="evAdminProfile.profile.dob" name="dob" id="dob"
                                class="w-full shadow-1 rounded-lg border-[1.5px]  bg-white py-3 px-5 font-medium outline-none transition focus:border-blue-600 active:border-blue-800 disabled:cursor-default">
                        </div>

                        <div>
                            <label class="mb-3 block font-medium text-sm text-black dark:text-white">
                                Dateof Joining
                            </label>
                            <input disabled type="text" [(ngModel)]="evAdminProfile.profile.dateofjoining"
                                name="dateofjoining" id="dateofjoining"
                                class="w-full shadow-1 rounded-lg border-[1.5px]  bg-white py-3 px-5 font-medium outline-none transition focus:border-blue-600 active:border-blue-800 disabled:cursor-default">
                        </div>

                        <div>
                            <label class="mb-3 block font-medium text-sm text-black dark:text-white">
                                UID
                            </label>
                            <input type="text" disabled [(ngModel)]="evAdminProfile.userid" name="userid" id="userid"
                                class="w-full shadow-1 rounded-lg border-[1.5px]  bg-white py-3 px-5 font-medium outline-none transition focus:border-blue-600 active:border-blue-800 disabled:cursor-default">
                        </div>
                    </div>

                    <!-- Account Type and updated at last status -->
                    <div class="mt-5 grid gap-2 grid-cols-2 md:gap-6">
                        <div>
                            <label class="mb-3 block font-medium text-sm text-black dark:text-white">
                                Account Type
                            </label>
                            <input type="text" [(ngModel)]="evAdminProfile.accountType" name="accountType"
                                id="accountType" disabled
                                class="w-full shadow-1 rounded-lg border-[1.5px]  bg-white py-3 px-5 font-medium outline-none transition focus:border-blue-600 active:border-blue-800 disabled:cursor-default">
                        </div>

                        <div>
                            <label class="mb-3 block font-medium text-sm text-black dark:text-white">
                                Last Updated
                            </label>
                            <input type="text" disabled [(ngModel)]="evAdminProfile.updatedAt" name="updatedAt"
                                id="updatedAt"
                                class="w-full shadow-1 rounded-lg border-[1.5px]  bg-white py-3 px-5 font-medium outline-none transition focus:border-blue-600 active:border-blue-800 disabled:cursor-default">
                        </div>


                    </div>


                    <!-- Address -->
                    <div class="mt-5 grid gap-2 grid-cols-1 md:gap-6">
                        <div>
                            <label class="mb-3 block font-medium text-sm text-black dark:text-white">
                                Address
                            </label>
                            <input type="text" [(ngModel)]="evAdminProfile.address" name="address" id="address"
                                class="w-full shadow-1 rounded-lg border-[1.5px]  bg-white py-3 px-5 font-medium outline-none transition focus:border-blue-600 active:border-blue-800 disabled:cursor-default">
                        </div>
                    </div>



                    <div class="flex justify-center">
                        <button
                            class="flex bg-blue-700 justify-center rounded py-2 px-6 font-medium text-white hover:bg-opacity-90"
                            type="button" (click)="saveProfileDetails()">
                            Save
                        </button>
                    </div>


                </div>
            </form>
        </div>

        <!-- Your Profile Photo -->

        <div class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
            <div class="border-b border-stroke py-4 px-7 dark:border-strokedark">
                <h3 class="font-medium text-black dark:text-white">
                    Your Photo
                </h3>
            </div>
            <div class="p-7">
                <form>
                    <div class="mb-4 flex items-center gap-3">
                        <div class="h-14 w-14 rounded-full">
                            <img [src]="previewImage || getProfileImageUrl(evAdminProfile.profile.profilepic)"
                                [alt]="evAdminProfile.profile.firstname">
                        </div>
                        <div>
                            <span class="mb-1.5 font-medium text-black dark:text-white">Edit your photo</span>
                        </div>

                    </div>

                    <div id="FileUpload"
                        class="relative mb-5.5 block w-full cursor-pointer appearance-none rounded border-2 border-dashed border-blue-800 bg-gray py-4 px-4  sm:py-7.5">
                        <input type="file" accept="image/*" (change)="onFileSelected($event)"
                            class="absolute inset-0 z-50 m-0 h-full w-full cursor-pointer p-0 opacity-0 outline-none">
                        <div class="flex flex-col items-center justify-center space-y-3">
                            <span
                                class="flex h-10 w-10 items-center justify-center rounded-full border border-stroke bg-white dark:border-strokedark dark:bg-boxdark">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M1.99967 9.33337C2.36786 9.33337 2.66634 9.63185 2.66634 10V12.6667C2.66634 12.8435 2.73658 13.0131 2.8616 13.1381C2.98663 13.2631 3.1562 13.3334 3.33301 13.3334H12.6663C12.8431 13.3334 13.0127 13.2631 13.1377 13.1381C13.2628 13.0131 13.333 12.8435 13.333 12.6667V10C13.333 9.63185 13.6315 9.33337 13.9997 9.33337C14.3679 9.33337 14.6663 9.63185 14.6663 10V12.6667C14.6663 13.1971 14.4556 13.7058 14.0806 14.0809C13.7055 14.456 13.1968 14.6667 12.6663 14.6667H3.33301C2.80257 14.6667 2.29387 14.456 1.91879 14.0809C1.54372 13.7058 1.33301 13.1971 1.33301 12.6667V10C1.33301 9.63185 1.63148 9.33337 1.99967 9.33337Z"
                                        fill="#3C50E0"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M7.5286 1.52864C7.78894 1.26829 8.21106 1.26829 8.4714 1.52864L11.8047 4.86197C12.0651 5.12232 12.0651 5.54443 11.8047 5.80478C11.5444 6.06513 11.1223 6.06513 10.8619 5.80478L8 2.94285L5.13807 5.80478C4.87772 6.06513 4.45561 6.06513 4.19526 5.80478C3.93491 5.54443 3.93491 5.12232 4.19526 4.86197L7.5286 1.52864Z"
                                        fill="#3C50E0"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M7.99967 1.33337C8.36786 1.33337 8.66634 1.63185 8.66634 2.00004V10C8.66634 10.3682 8.36786 10.6667 7.99967 10.6667C7.63148 10.6667 7.33301 10.3682 7.33301 10V2.00004C7.33301 1.63185 7.63148 1.33337 7.99967 1.33337Z"
                                        fill="#3C50E0"></path>
                                </svg>
                            </span>
                            <p class="font-medium text-sm dark:text-gray-400">
                                <span class="text-primary">Click to upload</span>
                                or drag and drop
                            </p>
                            <p class="mt-1.5 font-medium text-sm dark:text-gray-400">SVG, PNG, JPG or GIF</p>
                            <p class="font-medium text-sm dark:text-gray-400">(max, 1080 X 1080)</p>
                        </div>
                    </div>

                    <div class="flex justify-center">
                        <button
                            class="flex bg-blue-700 justify-center rounded py-2 px-6 font-medium text-white hover:bg-opacity-90"
                            type="submit" (click)="saveProfilePic()">
                            Save
                        </button>
                    </div>
                </form>

            </div>
        </div>


    </div>

    <div class="flex flex-col gap-9 mb-3">

        <!-- EV Profile Photo-->
        <div class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
            <div class="border-b border-stroke py-4 px-7 dark:border-strokedark">
                <h3 class="font-medium text-black dark:text-white">
                    Ev Photo
                </h3>
            </div>
            <div class="p-7">
                <form action="#">
                    <div class="mb-4 flex items-center gap-3">
                        <div class="h-14 w-14 rounded-full">
                            <img [src]="evpreviewImage || getProfileImageUrl(evAdminProfile.imageUrl)"
                                [alt]="evAdminProfile.profile.firstname">

                        </div>
                        <div>
                            <span class="mb-1.5 font-medium text-black dark:text-white">Edit your photo</span>
                        </div>
                    </div>

                    <div id="FileUpload2"
                        class="relative mb-5.5 block w-full cursor-pointer appearance-none rounded border-2 border-dashed border-blue-800 bg-gray py-4 px-4  sm:py-7.5">
                        <input type="file" accept="image/*" (change)="onEvImageFileSelected($event)"
                            class="absolute inset-0 z-50 m-0 h-full w-full cursor-pointer p-0 opacity-0 outline-none">
                        <div class="flex flex-col items-center justify-center space-y-3">
                            <span
                                class="flex h-10 w-10 items-center justify-center rounded-full border border-stroke bg-white dark:border-strokedark dark:bg-boxdark">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M1.99967 9.33337C2.36786 9.33337 2.66634 9.63185 2.66634 10V12.6667C2.66634 12.8435 2.73658 13.0131 2.8616 13.1381C2.98663 13.2631 3.1562 13.3334 3.33301 13.3334H12.6663C12.8431 13.3334 13.0127 13.2631 13.1377 13.1381C13.2628 13.0131 13.333 12.8435 13.333 12.6667V10C13.333 9.63185 13.6315 9.33337 13.9997 9.33337C14.3679 9.33337 14.6663 9.63185 14.6663 10V12.6667C14.6663 13.1971 14.4556 13.7058 14.0806 14.0809C13.7055 14.456 13.1968 14.6667 12.6663 14.6667H3.33301C2.80257 14.6667 2.29387 14.456 1.91879 14.0809C1.54372 13.7058 1.33301 13.1971 1.33301 12.6667V10C1.33301 9.63185 1.63148 9.33337 1.99967 9.33337Z"
                                        fill="#3C50E0"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M7.5286 1.52864C7.78894 1.26829 8.21106 1.26829 8.4714 1.52864L11.8047 4.86197C12.0651 5.12232 12.0651 5.54443 11.8047 5.80478C11.5444 6.06513 11.1223 6.06513 10.8619 5.80478L8 2.94285L5.13807 5.80478C4.87772 6.06513 4.45561 6.06513 4.19526 5.80478C3.93491 5.54443 3.93491 5.12232 4.19526 4.86197L7.5286 1.52864Z"
                                        fill="#3C50E0"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M7.99967 1.33337C8.36786 1.33337 8.66634 1.63185 8.66634 2.00004V10C8.66634 10.3682 8.36786 10.6667 7.99967 10.6667C7.63148 10.6667 7.33301 10.3682 7.33301 10V2.00004C7.33301 1.63185 7.63148 1.33337 7.99967 1.33337Z"
                                        fill="#3C50E0"></path>
                                </svg>
                            </span>
                            <p class="font-medium text-sm dark:text-gray-400">
                                <span class="text-primary">Click to upload</span>
                                or drag and drop
                            </p>
                            <p class="mt-1.5 font-medium text-sm dark:text-gray-400">SVG, PNG, JPG or GIF</p>
                            <p class="font-medium text-sm dark:text-gray-400">(max, 1920 X 1080)</p>
                        </div>
                    </div>

                    <div class="flex justify-center">
                        <button
                            class="flex bg-blue-700 justify-center rounded py-2 px-6 font-medium text-white hover:bg-opacity-90"
                            type="button" (click)="saveEvImage()">
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </div>


        <!-- EV Details -->
        <div class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
            <div class="border-b border-stroke py-4 px-6.5 dark:border-strokedark">
                <h3 class="font-medium text-black dark:text-white">
                    Ev Details
                </h3>
            </div>
            <form>
                <div class="flex flex-col gap-5.5 p-6.5">
                    <!-- For EvTitle -->
                    <div>
                        <label class="mb-3 block font-medium text-sm text-black dark:text-white">
                            Ev Title
                        </label>
                        <input type="text" [(ngModel)]="evAdminProfile.title" name="title" id="title"
                            class="w-full shadow-1 rounded-lg border-[1.5px]  bg-white py-3 px-5 font-medium outline-none transition focus:border-blue-600 active:border-blue-800 disabled:cursor-default">
                    </div>

                    <!-- For EvDescription -->
                    <div>
                        <label class="mb-3 block font-medium text-sm text-black dark:text-white">
                            Ev Description
                        </label>
                        <textarea rows="6" name="description" [(ngModel)]="evAdminProfile.description"
                            class="w-full bg-gray-50 dark:bg-gray-50 shadow-1 rounded-lg border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-blue-600 active:border-blue-800 disabled:cursor-default"></textarea>
                    </div>


                    <!-- Ev Location and coordinates -->
                    <div class="mt-5 grid gap-2 grid-cols-2 md:gap-6">
                        <div>
                            <label for="cities"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select a
                                city</label>
                            <div class="flex gap-2">
                                <select id="cities" (change)="onCityChange($event)"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-50 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                    <option [value]="selectedCityName || undefined" disabled selected>
                                        {{ selectedCityName ? selectedCityName : 'Choose your city' }}
                                    </option>
                                    <option *ngFor="let city of citiesapiData" [value]="city.name">{{ city.name }}
                                    </option>
                                </select>
                                <input type="text" [(ngModel)]="selectedCityState" [value]="selectedCityState"
                                    placeholder="State" readonly
                                    class="w-full shadow-1 rounded-lg border-[1.5px] bg-white py-3 px-5 font-medium outline-none transition focus:border-blue-600 active:border-blue-800 disabled:cursor-default">
                            </div>
                        </div>


                        <div>
                            <label for="coordinates"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Coordinates
                                (Lat./Long.)</label>
                            <div class="flex gap-2">
                                <input type="text" [(ngModel)]="evAdminProfile.coordinates.latitude" name="latitude"
                                    id="latitude"
                                    class="w-full shadow-1 rounded-lg border-[1.5px]  bg-white py-3 px-5 font-medium outline-none transition focus:border-blue-600 active:border-blue-800 disabled:cursor-default">

                                <input type="text" [(ngModel)]="evAdminProfile.coordinates.longitude" name="longitude"
                                    id="longitude"
                                    class="w-full shadow-1 rounded-lg border-[1.5px]  bg-white py-3 px-5 font-medium outline-none transition focus:border-blue-600 active:border-blue-800 disabled:cursor-default">
                            </div>
                        </div>
                    </div>

                    <!-- For EvId /id / rate -->
                    <div class="mt-5 grid gap-2 grid-cols-3 md:gap-6">

                        <div>
                            <label class="mb-3 block font-medium text-sm text-black dark:text-white">
                                Ev ID
                            </label>
                            <input disabled type="text" [(ngModel)]="evAdminProfile.evid" name="evid" id="evid"
                                class="w-full shadow-1 rounded-lg border-[1.5px]  bg-white py-3 px-5 font-medium outline-none transition focus:border-blue-600 active:border-blue-800 disabled:cursor-default">
                        </div>

                        <div>
                            <label class="mb-3 block font-medium text-sm text-black dark:text-white">
                                ID
                            </label>
                            <input disabled type="text" [(ngModel)]="evAdminProfile.id" name="id" id="id"
                                class=" w-full shadow-1 rounded-lg border-[1.5px] bg-white py-3 px-5 font-medium outline-none transition focus:border-blue-600 active:border-blue-800 disabled:cursor-default" />
                        </div>


                        <div>
                            <label class="mb-3 block font-medium text-sm text-black dark:text-white">
                                Rate
                            </label>
                            <input type="text" [(ngModel)]="evAdminProfile.rate" name="rate" id="rate"
                                class="w-full shadow-1 rounded-lg border-[1.5px] bg-white py-3 px-5 font-medium outline-none transition focus:border-blue-600 active:border-blue-800 disabled:cursor-default" />
                        </div>

                    </div>

                    <!-- Also that as object evTimings -->
                    <div *ngFor="let day of getDayOfWeek()">
                        <div class="mt-3">
                            <h4 class="text-[18px] text-gray-900 dark:text-gray-300">{{ day }}</h4>
                            <div class="mt-2 grid gap-3 grid-cols-2 md:gap-5">
                                <div>
                                    <label for="{{ day }}OpeningTime" class="text-[15px] dark:text-gray-400">Opening
                                        Time:</label>
                                    <!-- Input field for opening time -->
                                    <input type="time" id="{{ day }}OpeningTime" name="{{ day }}OpeningTime"
                                        [value]="formatTime(evAdminProfile.evTimings[day].openingTime)"
                                        (change)="updateOpeningTime(day, $event)"
                                        class="w-full shadow-1 rounded-md border-[1.5px] font-medium outline-none transition focus:border-blue-600 active:border-blue-800 disabled:cursor-default px-3 py-2" />
                                </div>

                                <div>
                                    <label for="{{ day }}ClosingTime" class="text-[15px] dark:text-gray-400">Closing
                                        Time:</label>
                                    <!-- Input field for closing time -->
                                    <input type="time" id="{{ day }}ClosingTime" name="{{ day }}ClosingTime"
                                        [value]="formatTime(evAdminProfile.evTimings[day].closingTime)"
                                        (change)="updateClosingTime(day, $event)"
                                        class="w-full shadow-1 rounded-md border-[1.5px] font-medium outline-none transition focus:border-blue-600 active:border-blue-800 disabled:cursor-default px-3 py-2" />
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>




                    <div class="flex justify-center">
                        <button
                            class="flex bg-blue-700 justify-center rounded py-2 px-6 font-medium text-white hover:bg-opacity-90"
                            type="button" (click)="saveEvDetails()">
                            Save
                        </button>
                    </div>

                </div>
            </form>
        </div>


    </div>
</div>